body {
    font-family: 'Arial', sans-serif;
    background-image: url('Image3.jpeg'); /* Adjust the path based on your actual folder structure */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #333;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #0066cc;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}


p{
    width:48%;
    margin: 0 auto;
}

img {
    width: 100; /* Adjust the width as needed */
    max-width: 300px; /* Adjust the maximum width as needed */
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
}